.fondo{
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.barra{
    width: 10%;
}

.barra2{
    width: 50%;
}

.barra3{
    width: 80%;
}

.barra4{
    width: 50%;
}

.barra5{
    width: 05%;
}

.barra6{
    width: 40%;
}